.footer {
  background: $gray-100;
  color: $gray-600;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-items: end;

  svg {
    width: 160px;
    margin-left: 5px;
  } 

  a {
    transition: ease .5s;

    &:hover {
      color: darken($orange, 10);
      text-decoration: none;
    }
  }

  h4 {
    font-size: 1.3rem;
    margin-bottom: 1.7rem;
  }

  p {
    font-weight: normal;
    justify-self: end;
    font-size: 0.9rem;
  }

  .twitter {
    height: 3rem;
    width: 100%;
    max-width: 450px;
  }
  
  .facebook {
    height: 4rem;
    width: 100%;
    max-width: 450px;
    margin-bottom: 1rem;
  }

  &-disclaimer {
      display: flex;
      align-items: flex-end;
      justify-items: flex-end;
      flex-direction: row;
      margin-bottom: 1rem; 

      p {
        margin: 0;
      }

      .manifesto-link {
        color: #80379b;
        &:hover{
          text-decoration: none;
          color: darken(#80379b, 20%);
        }
      }

      &-logo {
        width: 120px;
        flex-shrink: 0;
        margin-left: 1.2rem;

        img {
          width: 100%;
        }
      }
  }

  &-coalition {
    display: flex;
    text-align: right;
    align-items: flex-end;
    flex-direction: column;

    &-links {
      margin-top: 2rem;
    }

    a {
      color: $gray-600;
      margin-left: .25rem;

      &:hover {
        color: $gray-800;
        text-decoration: underline;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    margin-top: 2rem;

    p {
      text-align: right;
    }
  }
}