.navbar {
  padding: 1rem 0;
  transition: .25s ease-in-out;

  &.navbar-light { 
    background-color: transparent !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -.25rem;
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &-languages {
    position: relative;
    z-index: 100;
  }

  &-brand {
    padding: 0;
    margin-left: .5rem;

    .brand-logo {
      font-size: 1.4rem;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 900;
      transform: $skewed;
      display: inline-block;
      transition: .25s ease-in-out;

      &-subtitle {
        display: block;
        font-size: 1.15rem;
        padding-left: 2.5rem;
      }
    }

    .brand-campaign {
      font-weight: bold;
      font-size: 1.75rem;
      position: relative;
      top: 3px;
      letter-spacing: -1px;
      overflow: hidden;
      transition: .25s ease-in-out;

      &--compact {
        opacity: 0;
      }
    }
  }

  &-light {
    background: $white !important;

    .social-icon {
      font-size: 1.5rem;
    }

    .navbar-brand {
      color: $gray-800;
      width: 13rem;
    }
  }

  &-open {
    .navbar-brand {
      position: relative;
      z-index: 10000;
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .menu-button {
      color: $white;
    }
  }

  .social-icon {
    &.facebook:hover {
      color: #3b5998;
    }

    &.twitter:hover {
      color: #38A1F3;
    }

    &.instagram:hover {
      color: #DD2A7B;
    }

    &.whatsapp:hover {
      color: #25D366;
    }
  }

  &--text-light {
    .navbar-brand,
    .nav-link,
    .btn {
      color: $white !important;

      &:hover {
        opacity: .75;
      }
    }

    .navbar-languages {
      border-left-color: rgba($white, .5);
      border-right-color: rgba($white, .5);
    }
  }

  &.navbar--text-colorful {
    z-index: 10;

    .brand-logo {
      color: $gray-800;
      background-image: $europa-gradient;
      background-size: 400%;
      animation: HeroBackground 60s ease infinite;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .nav-link,
    .btn {
      color: $gray-800 !important;

      &:hover {
        opacity: .75;
      }
    }

    .navbar-languages {
      border-left-color: rgba($black, .5);
      border-right-color: rgba($black, .5);
    }
  }
}

.navbar.navbar--text-colorful {
  background-color: $white !important;
}

.menu-is-open .menu {
  top: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  background: $europa-gradient;
  background-size: 400%;
  animation: HeroBackground 60s ease infinite;
  color: $white;
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 2000;
  transition: .5s ease-in;
  overflow-y: scroll;

  &-header {
    margin: 2rem 0;
  }

  .navbar-brand {
    color: $white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 2.5rem;
  }

  .social-icon {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.7rem;
    justify-self: end;
    align-self: end;
    color: $white;
    padding: .25rem .75rem;
    border-radius: .25rem;
    margin-left: -.5rem;

    svg {
      position: relative;
      top: -2px;
    }

    &.facebook:hover {
      background-color: #3b5998;
      color: $white;
    }

    &.twitter:hover {
      background-color: #38A1F3;
      color: $white;
    }

    &.instagram:hover {
      background-color: #DD2A7B;
      color: $white;
    }

    &.whatsapp:hover {
      background-color: #25D366;
      color: $white;
    }
  }

  &-social {
    justify-items: end;
    align-self: end;
    display: flex;
    flex-direction: row;
  }

  &-languages {
    a {
      color: $white;
      font-size: 1.5rem;
    }
  }

  &-button {
    color: $gray-700;
    z-index: 10000;
    text-transform: uppercase;
    letter-spacing: 1px;

    svg {
      position: relative;
      top: -2px;
      font-size: 1.5rem;
      margin-left: .25rem;
    }
  }

  .menu-button {
    position: absolute;
    color: $white;
    right: 0;
  }

  &-link {
    display: block;
    text-transform: uppercase;
    font-family: $font-family-headings;
    font-weight: bold;
    font-size: 2rem;
    color: $white;
    text-decoration: none;
    line-height: 100%;
    transition: .25s ease-in-out;

    &:hover {
      color: $white;
      text-decoration: none;
      opacity: .5;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    padding: 1.5rem 0;

    &-languages {
      padding: 0 1rem !important;
      margin: 0 1rem !important;
      border-left: 1px $gray-500 solid;
      border-right: 1px $gray-500 solid;
    }

    &-brand {
      margin-left: 0;
    }

    &.navbar.navbar--text-colorful {
      background-color: transparent !important;
    }

    .container-fluid {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .menu {
    &-header {
      margin: 2rem 0 4rem 0;
    }

    &-link {
      font-size: 5rem;
    }
  }
}

@media (max-width: 320px) {
  .navbar-languages {
    display: none;
  }
}