.hero {
  position: relative;
  display: flex;
  padding: 6rem 0;
  margin-bottom: -3rem;
  align-content: center;
  color: $white;
  z-index: 100;

  .slider {
    position: relative;
    z-index: 300;
    padding-bottom: 3rem;
  }

  &-slide {
    &-header {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
      margin: 3rem 0 2rem 0;
      line-height: 1;
      max-width: 600px;
    }

    &-description {
      margin-left: 1.8rem;
      max-width: 800px;
    }

    &-share {
      margin-left: 2.5rem;

      & > div {
        display: inline-block;
        margin-right: .5rem;
      }

      .fb-like {
        position: relative;
        top: -7px;
      }
    }
  }

  &-control {
    font-size: 2rem;
    color: $white;
    margin: 0 2rem;

    &:hover {
      color: $white;
      opacity: .5;
    }
  }

  .paging-dot {
    background: $white !important;
  }

  &-background {
    position: absolute;
    z-index: 200;
    top: -6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: $europa-gradient;
    background-size: 600%;
    animation: HeroBackground 60s ease infinite;
    clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);

    &-image {
      position: absolute;
      z-index: 210;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: right;
      mix-blend-mode: multiply;

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 220;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, $white 50%, rgba($white, 0));
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    &-slide {
      &-header {
        font-size: 3rem;
      }

      &-description {
        margin-left: 2.5rem;
      }
    }
  }
}
