.hero {
  position: relative;
  display: flex;
  padding: 6rem 0 2rem 0;
  align-content: center;
  color: $white;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 20;
    top: -6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: repeating-radial-gradient(circle farthest-corner at right bottom,#53b2ac 0,#a4c852 23.9%,#ed9444 54.2%,#d93c67 77.9%,#bc5b9c 100%);
    background-size: 400%;
    animation: HeroBackground 60s ease infinite;
    transform: skew(0, -5deg);
    mix-blend-mode: multiply;
  }

  .slider {
    position: relative;
    z-index: 30;
    padding-bottom: 6rem;
  }

  &-slide {
    &-header {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3rem;
      margin: 3rem 0;
    }

    &-description {
      margin-left: 2.5rem;
    }
  }

  &-background {
    position: absolute;
    z-index: 10;
    top: -6rem;
    bottom: -6rem;
    left: 0;
    right: 0;
    background-image: url(../images/slides/oranges.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }
}

@keyframes HeroBackground { 
  0% {
    background-position: 0% 50%;
  }

  50% { 
    background-position: 100% 50%;
  }

  100% { 
    background-position: 0% 50%;
  }
}