.hero {
  position: relative;
  display: flex;
  padding: 6rem 0 2rem 0;
  align-content: center;
  color: $white;
  z-index: 100;

  .slider {
    position: relative;
    z-index: 300;
    padding-bottom: 6rem;
  }

  &-slide {
    &-header {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3rem;
      margin: 3rem 0;
    }

    &-description {
      margin-left: 2.5rem;
    }
  }

  &-background {
    position: absolute;
    z-index: 200;
    top: -6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: $europa-gradient;
    background-size: 400%;
    animation: HeroBackground 60s ease infinite;
    clip: rect(auto, auto, auto, auto);

    &-image {
      position: absolute;
      z-index: 210;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url(../images/slides/oranges.jpg);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: right;
      mix-blend-mode: multiply;

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 220;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, $white 50%, rgba($white, 0));
      }
    }
  }
}

@keyframes HeroBackground { 
  0% {
    background-position: 0% 50%;
  }

  50% { 
    background-position: 100% 50%;
  }

  100% { 
    background-position: 0% 50%;
  }
}